.portfolio h2{
    text-align: center;
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 40px;
    color: var(--color-primary);
}

.portfolio{
    margin-top: 0;
    padding: 10% 0 80px 0;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;  
}

.portfolio-item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio-item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio-item-image{
    border-radius: 1.5rem;
    overflow: hidden;
    height: 300px;
}

.portfolio-item-image img{
    width: 100%;
    height: 100%;
}

.portfolio-item h3{
    margin: 1.2rem 0 1rem;
}

.portfolio .portfolio-item-descr{
    height: 72px;
    margin-bottom: 1rem;
    text-align: justify;
}

.portfolio-item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.portfolio .btn{
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.portfolio .github:hover{
    background-color: var(--color-primary);
    color: var(--color-bg-variant);
}

.portfolio .btn-primary{
    color: #fff;
    border-color: #0a58ca;
}

@media screen and (max-width: 1024px){
    .portfolio-container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

@media screen and (max-width: 600px){
    .portfolio-container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}