.contact h2{
  text-align: center;
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 40px;
  color: var(--color-primary);
}

.container.contact-container{
  width: 58%;
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 12%;
}

.container.contact-container input:hover,
.container.contact-container textarea:hover{
  border-color: var(--color-primary);
}

.container.contact-container input:focus,
.container.contact-container textarea:focus{
  border-color: var(--color-primary);
}

.contact-options{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact-option{
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact-option h5{
  font-size: 14px;
}

.contact-option h4{
  font-size: 18px;
}

.contact-option:hover{
  background: transparent;
  border-color: var(--color-primary-variant); 
}

.contact-option-icon{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact-option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--color-primary);
}

.contact .btn-primary{
  color: #fff;
  border-color: #0a58ca;
}

.messageSent{
  text-align: center;
  color: var(--color-primary);
  font-weight: 500;
  display: none;
}

.errorMsg{
  text-align: center;
  color: lightcoral;
  font-weight: 500;
  display: none;
}

.show{
  display: block;
}

form{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input, textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid var(--color-primary-variant);
  -webkit-text-fill-color: var(--color-white);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

@media screen and (max-width: 1024px) {
  
  .container.contact-container{
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media screen and (max-width: 600px) {
  
  .container.contact-container{
    width: var(--container-width-sm);
  }
}