.container.testimonials-container{
    width: 40%;
    padding-bottom: 4rem;
}

.testimonials h2{
    text-align: center;
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 40px;
    color: var(--color-primary);
}

.testimonial{
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.client-review{
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
    background: var(--color-primary);
}

@media screen and (max-width: 1024px) {
    
    .container.testimonials-container{
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    
    .container.testimonials-container{
        width: var(--container-width-sm);
    }

    .client-review{
        width: var(--container-width-sm);
    }
}