/************ Banner Css ************/
.banner {
    margin-top: 0;
    padding: 160px 0 80px 0;
  }

  .banner h1 {
    font-size: 3.5em;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    color: #5CE1E6;
  }
  .banner p {
    color: #e2e2e2;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }
  .banner button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
  }
  .banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }
  .banner button:hover svg {
    margin-left: 25px;
    color: #5CE1E6;
  }
  .banner img {
    animation: zoom-in-zoom-out 3s ease infinite;
  }
  .banner a{
    text-decoration: none;
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.02, 1.02);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }

  @media screen and (max-width: 390px) and (max-height: 844px){

    .banner img{
        display: none;
    }

 
   
  }